.main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    padding: 0 16px;
}

.view {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.thingListWrap {
    display: flex;
    padding: 0 20px;
    align-items: center;
    gap: 40px;
}

.gradWrap {
    display: flex;
    align-items: flex-end;
    align-self: stretch;
}

.grad {
    border-right: 1px solid #000;
}

.button {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 1px solid #B2B2B2;
    transition: filter 0.15s ease;
}

.button:hover {
    filter: brightness(0.9);
}