.main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    gap: 16px;
}

.thingListWrap {
    display: flex;
    flex: 1 0 0;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.button {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.6rem;
    border: 1px solid #B2B2B2;
    transition: filter 0.15s ease;
}

.button:hover {
    filter: brightness(0.9);
}