.thingArticle {
    display: flex;
    flex: 0 0 calc(100% / 3);
    flex-direction: column;
    align-items: center;
    gap: 8px;
    scroll-snap-align: start;
    transition: filter 0.15s ease;
}

.thingArticle:hover {
    filter: brightness(0.9);
}

.thingImage {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
}

.gradWrap {
    display: flex;
    width: 100%;
    align-items: flex-end;
    align-self: stretch;
}

.grad {
    border-left: 1px solid #000;
}

.thingParag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}