.background {
  position: fixed;
  display: flex;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.modal {
  display: flex;
  max-width: 60rem;
  max-height: 40rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background-color: var(--white);
}

.closeBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

.closeButton {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}
