.base {
  display: flex;
  width: 64rem;
  height: 32rem;
  padding: 1rem 2rem;
  gap: 1rem;
  overflow: scroll;
}

.thingImage {
  display: block;
  width: 26rem;
  height: 26rem;
  aspect-ratio: 1/1;
}

.info {
  width: 26rem;
}

.titleBox {
  margin-bottom: 1rem;
}

.explanation {
  width: 100%;
  font-weight: 500;
  border: 1px solid var(--light-gray);
  border-radius: 1rem;
  padding: 1rem;
}